{% extends 'login/layout.html' %}
{% load static %}
{% block title %}<title>Gcash</title>{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'static/book.html' %}">{% endblock %}
{% block js %}{% endblock %}
{% block body %}
<h1>List Of Book In Progress</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Payment Type</th>
        <th>Payment Status</th>
        <th>Payment Proof</th>
        
    </tr>
    <tr>
        {% for proof in proofs%}
            <td>proof.user.id</td>
            <td>proof.payment_type</td>
            <td>proof.payment_status</td>
            <td><img src="{% static 'proof/payment_proof' %}"></td>
            <td><a href="">approve</a></td>
            <td><a href="">disapprove</a></td>

        {% endfor %}
    </tr>
</table>

{% endblock %}