{% extends 'login/layout.html' %}
{% load static %}

{% block title %}<title>Homepage</title>{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}
{% block js %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>website name</h1>
        {% if user.is_authenticated %}
            <h2>Welcome {{ username }}!!</h2>
            {% if user.is_superuser %}
                <h2>Hello admin</h2>
                <div><a href="{% url 'users_dashboard' %}">Users</a></div>
                <div><a href="{% url 'events_schedule' %}">Events Schedule</a></div>
            {% endif %}
            <div><a href="{% url 'logout' %}"> Logout</a></div>
        {% else %}
            <h2><a href="{% url 'login' %}"> Login</a></h2>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div><a href="{% url 'book' %}">Book</a></div>

    </div>
{% endblock %}
