{% extends 'login/layout.html' %}
{% load static %}

{% block title %}
<title>Registration</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block js %}{% endblock %}

{% block body %}
<h2> Registration </h2>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <label>Username: <input type="text" placeholder="username" name="username" required></label>
    <label>First name: <input type="text" placeholder="username" name="first_name" required></label>
    <label>Last name: <input type="text" placeholder="username" name="last_name" required></label>
    <label>Gmail: <input type="email" placeholder="username" name="gmail" required></label>
    <label>Number: <input type="number" placeholder="Number" name="number" required></label>
    <label>Password: <input type="password" placeholder="Password" name="password" required></label>
    <input type="submit" value="Register">
</form>
{% endblock %}
